/* styles.css */

/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5,h6,p{
    margin: 0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}
body{
    background: #FDFEFF;


}

:root{
    --white : #fff;
}
/* General Styles End */


.container {
    max-width: 1440px;
} 
/* NAVBAR START */


.bg-light{
    --bs-bg-opacity: 0;
}
.collapse{
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.nav-item i{
    width: 20px;
    height: 20px;
}
.btn-success {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px; 
    padding: 18px 20px;

}
.btn-success:hover{
    background-color:#fff ;
    color:#037D41;
    border: 1px solid #037D41;

}

.account{
    display: inline-flex;
    padding: 18px 20px;
    align-items: center;
    gap: 10px;
}

/* NAVBAR END */

.name__section{
    padding: 84px 0;
    background-color:#D9EEE4;
}

.company{
    color: #222;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}
.info__section{
    margin: 50px 0 130px 0;
}
.heading {
    color: #222;
    font-size: 18px ;
    font-weight: 600;
    letter-spacing: 0.36px;
}
.sub-heading{
    color: #222;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
    padding: 31px 0;
    
}
.content{
    color: #222;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    text-align: justify;
}
.certificate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
    padding-top: 81px;
}
.image__input{
    border-radius: 8px;
    background:#F6F6F6;
    width: 193px;
    height: 203px;
    border-radius: 8px;
    padding: 15px 17px;
    position: relative;

}
.image__input i{
    position: absolute;
    top: 39%;
    left: 39%;
    font-size: 50px;
    color: gray;
}
.dash__border{
    border: 1px dashed #B2B4B3;
    width: 159px;
    height: 173px;
    border-radius: 8px;
}
.video iframe{
    border-radius: 8px;
}
/* TAB SECTION START */
.tab__section{
    border-radius: 8px;
}

.tab__area{
    background: #fff;
    border-radius: 8px;

}
.nav{
    background: #EBF6F2;
    width: 100%;
    border-radius: 8px 0 0 0;
}
.nav a{
    color: #037D41;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.36px;
    

}
.nav a:hover{
    color: #fff;
    background-color: #037D41;
    border-radius: 0 !important;
}
.nav-pills .nav-link{
    border-radius: 8px 0 0 0 ;
   
}


.nav-pills .nav-link.active,.nav-pills .show>.nav-link.nav-pills .show>.nav-link{
    background-color: #037D41;
    border-radius:  0 8px 0 0;

}

.product__parent{
    padding: 54px 44px;
}
.tab__area{
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.05);
    margin: 80px 0px;
    padding-bottom: 54px;
    align-items: center;
    justify-content: center;

}
.form__contact{
    margin: 60px 0 167px 0;
    padding: 0 45px;
}
.text__black {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
}
.form-control {
    padding: 10px;
    background-color: #F6F6F6;
    border: none;
}
.sub__text{
    color: #8C8C8C;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
}
.social__text{
    color:#222;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.44px;
    margin-bottom: 48px;
}
.social__media{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* FOOTER SECTION START */

.footer__section{
    margin-bottom: 59px;
}
.footer__area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__menu{
    display: flex;
    gap: 60px;

}
.footer__social {
    display: flex;
    gap: 15px;
}


.footer__menu a{
    color: #666;
    font-size: 16px;
    font-weight: 500;
}

.footer__social a{
    background-color: #037D41;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;


}


.fixed__button{
    position: fixed;
    bottom: 0;
    right: 0;
}
.custom{
    border-radius: 8px 0px 0px 8px;
    padding: 20px 71px 20px 40px;

}
/* FOOTER SECTION END */

