

@media screen and (max-width: 1024px){
    .seller__hero {
        margin: 90px 0 90px 0;
    }
}


@media screen and (max-width: 768px){
    .footer__area{
    flex-direction: column;
    gap: 30px;
}
.certificate {
    padding: 35px 0;
}
.logo{
    padding-top: 25px;
}
.tab__area{
    margin: 0;
}
.info__section{
    margin: 50px 0 90px 0;
}
}

@media screen and (max-width: 425px){
.footer__menu{
    gap: 30px;   
}
.form__section form{
    width: 90%;
}
.text__black{
    font-size: 14px;
}
.text__green {
    font-size: 14px;

}
.BG__image img{
    height: unset;
}
.form__section{
    height: unset;
}
.input-group{
    width: 90%;
}
.footer__section {
    margin-bottom: 85px;
}
.product__area{
    padding: 0 20px;
}
.card {
    margin-bottom: 40px;
}
.button__parent {
    padding-bottom: 35px;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.custom__input {
    padding: 10px;
    width: 50px;
    height: 50px;
}
.modal-body p{
    font-size: 22px;
}
.modal__email {
    font-size: 24px;
}
.code {
    margin: 20px 0 15px 0;
}
.btn-primary{
    margin-top: 0;
    margin-bottom: 20px;
}
.svg {
    width: 60;
    height: 60;
    
}
.modal-body p{
    padding-bottom: 15px;
}
.seller__area{
    text-align: center;
    margin-top: 30px;
}
.seller__hero {
    margin: 50px 0 40px 0;
}
.seller__content{
    padding: 0 10px;
    font-size: 16px;
}
.card_parent{
    
    padding-top: 30px;
}
.social__media{
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.form__contact {
    margin: 40px 0;
}
.certificate{
    flex-direction: column;
}
.info__area {
    padding: 0 10px;
}
.content{
    font-size: 14px;
}
.nav-pills .nav-link.active{
    border-radius: 8px 8px 0 0;

}
.parent {
    padding: 50px 15px;
}
.prduct_heading {
    padding-top: 20px;
    font-size: 22px;
}
.sub_heading {
    font-size: 20px;
}
.description {
    font-size: 16px;
    line-height: 14px;
}
.another__text{
    font-size: 14px;
}
.form-check{
    align-items: start;
}
.info__section{
    padding: 0 20px;
}
.tab__section{
    padding: 0 20px;
}
}


@media screen and (max-width: 375px){
    .footer__menu{
        flex-direction: column;
        gap: 10px;
        
}

.button__parent {
    width: 100%;
}
}