/* styles.css */

/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5,h6,p{
    margin: 0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}
body{
    background: #FDFEFF;


}

:root{
    --white : #fff;
}
/* General Styles End */


.container {
    max-width: 1440px;
} 
/* NAVBAR START */


.bg-light{
    --bs-bg-opacity: 0;
}
.collapse{
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.nav-item i{
    width: 20px;
    height: 20px;
}
.btn-success {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px; 
    padding: 18px 20px;

}
.btn-success:hover{
    background-color:#fff ;
    color:#037D41;
    border: 1px solid #037D41;

}
/* NAVBAR END */

.search__section{
    padding: 84px 0;
    background-color:#D9EEE4;
}
.search__menu{
    padding-bottom: 50px;
}
.search__menu ul li{
    display: inline-block;
    padding: 0 20px;
    text-align: right;
    }

.search__menu ul li a{
    color: #666;
    font-size: 16px;
    font-weight: 500;
}
.form-control{
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    background: #FFF;
}
.input-group{
    width: 60%;
    margin: auto;

}
.text{
    color: #9C9C9C;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.btn-secondary{
    background-color: transparent;
    border: none;
    color: #666666;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    display: inline-block;
}
.btn-secondary:hover{
    background-color: transparent;
    color: #666666;
    transition: none;
}
.dropdown-item{
    background-color: transparent;
}
/* HEADER START */
.header__area{
    background-color: #FFF;
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.05);
    margin: 80px 0px;
    padding: 41px 44px;
    align-items: center;
    justify-content: center;
}
.carousel-item img{
    border-radius: 8px;
}
.carousel-indicators{
    bottom: -80px;

}
.carousel-indicators [data-bs-target]{
    background-color: #037D41;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}
.carousel-indicators .active{
    width: 30px;
    border-radius: 33px;
    
}
.browse__content{
    background-color: #037D41;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    margin: 35px 0 25px 0;
}

.category__text{
    color: #12151A;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px; 
    letter-spacing: 0.3px;
    padding-right: 25px;
}
.header__img img{
    width: 100%;
}

/* HEADER END */
/* PRODUCT SECTION START */
.product__area{
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.05);
    margin: 80px 0px;
    padding: 41px 44px;
    align-items: center;
    justify-content: center;
}
.card{
    border: none;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.05);


}
.card-img-top{
    height: 400px;

}
.row{
    margin-bottom: 49px;
}
.card-title{
    color: #12151A;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;

}
/* PRODUCT SECTION END */
/* FOOTER SECTION START */

.footer__section{
    margin-bottom: 59px;
}
.footer__area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__menu{
    display: flex;
    gap: 60px;

}
.footer__social {
    display: flex;
    gap: 15px;
}


.footer__menu a{
    color: #666;
    font-size: 16px;
    font-weight: 500;
}

.footer__social a{
    background-color: #037D41;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;


}


.fixed__button{
    position: fixed;
    bottom: 0;
    right: 0;
}
.custom{
    border-radius: 8px 0px 0px 8px;
    padding: 20px 71px 20px 40px;

}
/* FOOTER SECTION END */

